<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <span>
        <a
          class="nav-link"
          aria-current="page"
          href="https://www.instagram.com/fysikmusic/"
          >Instagram</a
        >
      </span>
      <span>
        <a
          class="nav-link"
          aria-current="page"
          href="https://open.spotify.com/artist/5WMyY3sdQl7lHJq8DKJ4O1?si=N15t6b5gRfiFXiyErSeQCg"
          >Spotify</a
        >
      </span>
    </div>
    <div class="col-sm-4">
      <span>55°23'45.38" N</span>
      <br />
      <span>10°23'17.92" E</span>
    </div>
    <div class="col-sm-2 align-text-bottom">© 2022</div>
  </div>
</div>
