
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ArtistWebsite-primary: mat.define-palette(mat.$indigo-palette);
$ArtistWebsite-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ArtistWebsite-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ArtistWebsite-theme: mat.define-light-theme((
  color: (
    primary: $ArtistWebsite-primary,
    accent: $ArtistWebsite-accent,
    warn: $ArtistWebsite-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ArtistWebsite-theme);

@font-face {font-family: "Century Schoolbook"; src: url("//db.onlinewebfonts.com/t/2801d9e6874d33ad4f500c4688a89755.eot"); src: url("//db.onlinewebfonts.com/t/2801d9e6874d33ad4f500c4688a89755.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2801d9e6874d33ad4f500c4688a89755.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2801d9e6874d33ad4f500c4688a89755.woff") format("woff"), url("//db.onlinewebfonts.com/t/2801d9e6874d33ad4f500c4688a89755.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2801d9e6874d33ad4f500c4688a89755.svg#Century Schoolbook") format("svg"); }


body {
  background-color: #F5F3EC!important;
  font-family: 'Century Schoolbook'!important;
}


@import "bootstrap";
@import '~@aws-amplify/ui-angular/theme.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
