<div data-scroll-container>
  <div data-scroll-section>
    <h2 data-scroll data-scroll-speed="1">
      <div style="height: 200px">test</div>
    </h2>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
  <div data-scroll-section>
    <h2 data-scroll data-scroll-speed="1">
      <div style="height: 200px">test</div>
    </h2>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
  <section data-scroll-section="">
    <span class="lerp-wrap" data-scroll="">
      <span data-scroll="" data-scroll-delay="0.44" data-scroll-speed="2"
        >M</span
      >
      <span data-scroll="" data-scroll-delay="0.02" data-scroll-speed="2"
        >a</span
      >
      <span data-scroll="" data-scroll-delay="0.32" data-scroll-speed="2"
        >x</span
      >
      <span data-scroll="" data-scroll-delay="0.31" data-scroll-speed="2"
        >i</span
      >
      <span data-scroll="" data-scroll-delay="0.09" data-scroll-speed="2"
        >m</span
      >
      <span data-scroll="" data-scroll-delay="0.35" data-scroll-speed="2"
        >i</span
      >
      <span data-scroll="" data-scroll-delay="0.19" data-scroll-speed="2"
        >l</span
      >
      <span data-scroll="" data-scroll-delay="0.16" data-scroll-speed="2"
        >a</span
      >
      <span data-scroll="" data-scroll-delay="0.49" data-scroll-speed="2"
        >n</span
      >
      <span data-scroll="" data-scroll-delay="0.01" data-scroll-speed="2"
        >...</span
      >
    </span>
  </section>
  <div data-scroll-section class="container">
    <div class="row who-am-i-wrapper">
      <div data-scroll data-scroll-speed="1" class="col-sm-6 who-am-i-img">
        <img
          src="../../assets/img/IMG_8143.jpg"
          alt="Profile picture from the side"
        />
      </div>
      <div data-scroll data-scroll-speed="2" class="col-sm-6 who-am-i-text">
        <p>Hello, I am Maximilian.</p>
        <p>I am a musician, physicist and programmer from Germany.</p>
        <p>Everything I currently do I am making in my home in Denmark.</p>
      </div>
    </div>
  </div>
  <div data-scroll-section>
    <h2 data-scroll data-scroll-speed="1">
      <div style="height: 200px">test</div>
    </h2>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
  <div data-scroll-section>
    <h2 data-scroll data-scroll-speed="1">
      <div style="height: 200px">test</div>
    </h2>
    <p data-scroll data-scroll-speed="2">😬</p>
  </div>
</div>
