@import '~locomotive-scroll/dist/locomotive-scroll.css';

.who-am-i-wrapper {
  margin-top: 50px;

  .who-am-i-img {
    margin-top: 100px;
    img {
    width: 100%;
    margin-left: 0px;
    }
  }

  .who-am-i-text {
    font-size: 40px;
  }

}

.lerp-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.25rem;
  line-height: 1.1;
  span {
    width:100px;
    height:100px;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    font-size: clamp(32px, 3vw, 8vw);
    background:#fff;
  }
}
