<!-- <div class="container">
  <div class="row">
    <div *ngFor="let music of musics" class="col-3 music-card">
      <div class="col-12 music-id">{{ music.id }}</div>
      <div class="col-12 music-title">{{ music.name }}</div>
      <div class="col-12 music-instruments">{{ music.instruments }}</div>
      <div class="col-12 music-year">{{ music.year }}</div>
      <div class="col-12 music-thumbnail">
        <img src="{{ music.artwork }}" alt="" />
      </div>
    </div>
  </div>
</div> -->
<mat-grid-list cols="3" rowHeight="60vh">
  <mat-grid-tile *ngFor="let music of musics"
    ><app-music-card
      [music]="music"
      (click)="onCardClick($event)"
    ></app-music-card
  ></mat-grid-tile>
</mat-grid-list>
